.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  }

.site-navigation {
  list-style: none;
  }

.features-list {
  list-style: none;
  }

.blok-list {
  list-style: none;
}

