@font-face {
  font-family: "pt-sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "pt-sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-bold.woff2") format("woff2"),
       url("../fonts/ptsans-bold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-gray-shade-of-black: #231F20;
  --basic-light-blue: #81B3D3;
  --basic-light-blue-alt: #81B3D2;
  --basic-dark-grey-direct-energy: #666666;
  --basic-dark-grey: #6A6A6A;
  --basic-dark-gray-orange: #766458;
  --basic-dark-gray-orange-alt: #604E43;
  --basic-gray-orange: #766357;
  --basic-twilight-Grey: #333333;
  --basic-pale-gray: #F2F2F2;
  --basic-white: #FFFFFF;
  --basic-darkgray: #A9A9A9;
  --basic-pale-grey-alt: #EBEBEB;
  --basic-light-grey: #CACACA;
  --basic-mercury: #E5E5E5;
  --basic-gray: #ABABAB;
  --basic-grayish-azure: #669EC0;
  --basic-grayish-azure-alt: #5496BD;
  --basic-delicious: #EEEEEE;
  --basic-greyish: #888888;
  --basic-light-grey-alt: #BDBBBC;
  --basic-twilight-gray-orange: #503E33;
}

.page-body {
  font-family: "pt-sans", "arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.container {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 10px 2px var(--basic-greyish);
}

.site-navigation a:link {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation a:visited {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-light-blue-alt);
  transition: 0.2s;
}

.site-navigation a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -70px;
}

.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
}


.main-header {
  display: inline-block;
  width: 1200px;
  height: 56px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  background-color: var(--basic-white);
}

.site-navigation li{
  box-sizing: border-box;
  width: 200px;
  list-style: none;
}

.site-navigation li:nth-child(1) {
  text-align: left;
  margin-right: 28px;
}
.site-navigation li:nth-child(2) {
  text-align: left;
  margin-right: 200px;
}
.site-navigation li:nth-child(3) {
  text-align: right;
}
.site-navigation li:nth-child(4) {
  text-align: right;
  margin-left: 28px;
}

.site-navigation:hover {
  color: var(--basic-light-blue-alt);
}

.scription-top {
  width: 1200px;
  object-fit: contain;
  padding-bottom: 40px;
  background-color: var(--basic-white);
}

.page-body h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-top: 29px;
}

.page-body h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding-left: 2px;
}

.result-haeder a:hover {
  color: var(--basic-light-blue-alt);
  transition: 0.2s;
}

.result-haeder a:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.scription-text p {
  padding-top: 32px;
}

.content-text h3 {
  padding-top: 25px;
}

.bridge h3 {
  padding-top: 29px;
}

.content-text :nth-child(2) {
  padding-top: 6px;
  margin-bottom: 23px;
}

.content-text :nth-child(3) {
  margin:0;
}

.content-text :last-child {
  margin:0;
}

.container p {
  font-size: 14px;
  line-height: 21px;
}

.bottom-p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: -10px;
  padding-top: 11px;
}

.pop-up {
  display: inline-block;
  margin: 30px auto;
  padding: 30px 140px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-gray-orange);
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  background: var(--basic-gray-orange);
  transition: 0.2s;
}

.pop-up:hover {
  background-color: var(--basic-dark-gray-orange-alt);
}

.pop-up:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-twilight-gray-orange);
}

.content-text {
  width: 400px;
  height: 256px;
  background: var(--basic-light-blue-alt);
  color: var(--basic-white);
}

.content-img {
  width: 800px;
  height: 256px;
}

.feature-item {
  width: 400px;
  margin-bottom: 76px;
}

.icon-svg {
  padding-top: 56px;
}

.feature-item h3 {
  padding-top: 4px;
  margin-bottom: 25px
}

.feature-item :nth-child(3) {
  margin: 0;
}

.feature-item :nth-child(4) {
  margin: 0;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
}

.features-list {
  list-style: none;
}

.features {
  margin-bottom: 5px;
  background: var(--basic-white);
}

.content-quality {
  padding-top: 0px;
  background: var(--basic-delicious);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.quality-item {
  list-style: none;
  width: 400px;
  padding-bottom: 54px;
}

.quality-item h3{
  padding-top: 27px;
}

.quality-item :nth-child(2) {
  padding-top: 4px;
}

.quality-item :nth-child(3) {
  margin: 0;
  padding-top: 10px;
}

.quality-item :nth-child(4) {
  margin: 0px;
}

.blok-list {
  list-style: none;
}

.visit {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts-phone {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/****************************************************************************!!РАЗМЕТКА КАТАЛОГА!!*/

/*стили чекбоксов и шкала цен*/
/*
.inner-page {
  font-family: "pt-sans", "arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align : center;
  text-transform: uppercase;
}*/

.property-list {
  list-style: none;
}

.site-navigation .active a {
  color: var(--basic-gray-orange);
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.select-menu {
  box-sizing: border-box;
  min-height: 215px;
  background-image: url(../img/catalog/background.jpg);
  background-color: var(--basic-greyish);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px;
}

.form-select h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.container-infrastructure {
  width: 270px;
  text-align: left;
}

.container-housing {
  width: 300px;
  text-align: left;
}

.price-selection {
  width: auto;
  position: relative;
  box-sizing: border-box;
  width: 528px;
  padding-left: 200px;
}

.property-list {
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.prise-menu {
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.submit {
  font-family: "pt-sans";
  font-weight: normal;
  font-style: normal;
  text-align : center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}
/**********************************************************FILTER CHECKBOX*/

.check-input {
  display: none;
}

.property-item label {
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 25px;
  margin-left: 0px;
}

.check-box {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-bottom: 25px;
  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
}

.check > input + span {
  padding-left: 40px;
}

.check-housing > input + span {
  padding-left: 42px;
}

.property-list li {
  margin-bottom: 20px;
}

.check-input:checked + .check-box {
  background-image: url(../img/catalog/checkbox-on.svg);
}

.check-input:active + .check-box {
  background-image: url(../img/catalog/checkbox-off.svg);
}

.check-input:disabled + .check-box {
  background-image: url(../img/catalog/checkdis-off.svg);
}

.check-input:checked:disabled + .check-box {
  background-image: url(../img/catalog/checkdis-on.svg);
}

/******************************************************************************************************************ФИЛЬТР С ДИАПАЗОНОМ*/

.filter-item {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding: 0;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-right: 40px;
  padding-left: 20px;
}

.range-controls .bar {
  width: 316px;
  height: 2px;
  background: var(--basic-white);
  padding: 0px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.range-controls .scale {
  position: absolute;
  left: 0px;
  width: 260px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -8px;
  left: 16px;
  width: 3.8px;
  height: 3.8px;
  padding: 0px;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 0 0 rgba(171, 171, 171, 0.3);
}

.select-menu :focus {
  outline: none;
}

.range-controls .toggle-min {
  left: 0px;
  transition: 0.25s;
}

.toggle-min:hover {
  transform: scale(1.15);
}

.range-controls .toggle-max {
  left: 252px;
  transition: 0.25s;
}

.toggle-max:hover {
  transform: scale(1.15);
}

.cost-control {
  position: relative;
  margin-bottom: 19px;
  margin-right: 3px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  height: 32px;
  width: 312px;
}

.cost-control input {
  width: 40px;
  padding: 0px;
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  color: #283136;
  border: none;
  color: var(--basic-white);
  background: none;
}

::placeholder {
  color: var(--basic-white);
}

.cost-control label {
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  padding-left: 19px;
  margin-right: 28px;
  margin-left: 35px;
  cursor: pointer;
}

.range-filter button {
  position: absolute;
  right: 97px;
  bottom: 24px;
  padding: 6px 33px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: none;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.25s;
}

.range-filter button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.label-from {
  padding-left: 64px;
}

.label-before {
  padding-left: 57px;
}

.price-selection span {
  color: var(--basic-white);
}

.cost-control::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 50%;
  height: 22px;
  border: 1px solid var(--basic-white);
}

.arrows {
  position: absolute;
  top: 36px;
  right: 74px;
  cursor: pointer;
}

.arrows-up {
  padding-right: 7px;
}

.arrows-up :hover {
  fill: var(--basic-black);
  transition: 0.1s;
}

.arrows-up :active {
  fill: var(--basic-light-blue-alt);
  transition: 0.1s;
}

.sorting-sort {
  font-size: 12px;
  line-height: 18px;
}

.sorting-menu li {
  list-style: none;
}

.result-haeder h3 {
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
}

.description-hotel {
  display: grid;
  grid-template-columns: 110px 110px;
  column-gap: 6px;
}

.description-hotel:nth-child(1) span {
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.description-hotel:nth-child(2) span {
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  padding-left: 1px;
}

.description-reserve {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 258px;
  padding-top: 16px;
}

.description-reserve a:nth-child(1) {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background: var(--basic-light-blue-alt);
  padding: 3px 17px 3px 18px;
}

.description-reserve a:nth-child(1):hover {
  background: var(--basic-grayish-azure);
  transition: 0.3s;
}

.description-reserve a:nth-child(1):active {
  background: var(--basic-grayish-azure-alt);
  color: rgba(255, 255, 255, 0.3);
}

.description-reserve a:nth-child(2) {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background: var(--basic-gray-orange);
  padding: 3px 16px;
}

.description-reserve a:nth-child(2):hover {
  background: var(--basic-dark-gray-orange-alt);
  transition: 0.3s;
}

.description-reserve a:nth-child(2):active {
  background: var(--basic-twilight-gray-orange);
  color: rgba(255, 255, 255, 0.3);
}

.rating-number {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  background: var(--basic-pale-gray);
  color: var(--basic-dark-grey-direct-energy);
}

.name-hotel {
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
}

/***************************************************rating STAR*/

.rating-item {
  position: absolute;
  display: block;
  height: 100px;
  width: 130px;
  left: 1007px;
}

.rating-star {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: 72px;
  width: 125px;
}

.img-star {
  display: flex;
  flex-wrap: wrap;
  width: 24px;
  height: 24px;
  background-image: url(../img/catalog/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rating-number {
  padding: 5px 11px 5px 14px;
  background-color: var(--basic-pale-gray);
  text-align: center;
  width: 110px;
}

/********************************************************************GRID TITLE*/

.content-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 256px;
  margin: 0px;
}

.list-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0px;
  padding-left: 0px;
}

.list-box-quality {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0px;
  padding-left: 0px;
}

/******************************************************************FLEX INDEX*/

.welcome-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--basic-pale-grey-alt);
  background-image: url(../img/index-img/background-photo.jpg);
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  margin: 0px;
  object-fit: contain;
}

.welcome-title {
  align-self: center;
  width: 456px;
  height: 350px;
  padding-top: 77px;
  margin-bottom: 23px;
  order: 1;
}

.shape-bottom {
  align-self: flex-end;
  width: 1200px;
  height: 57px;
  order: 2;
}

.scription-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.block-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  height: 290px;
}

.bottom-text h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  padding-top: 31px;
  margin-right: 12px;
}

/*******************************************************************FOOTER*/

.main-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 122px;
  align-items: center;
}

.index-footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
}

.main-footer a {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-social {
  display: flex;         /******************************проверить!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0px;
  padding: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background: var(--basic-light-blue-alt);
  background-position: center;
}


.color-footer:hover {
  background-color: var(--basic-grayish-azure);
  transition: 0.3s;
}

.color-footer:active {
  background-color: var(--basic-grayish-azure-alt);
  color: var(--basic-black);
  transition: 0.04s;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 124px;
}

.visit {
  margin: 0px;
  margin-bottom: 9px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-right: 11px;
}

.footer-developer a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-developer span {
  font-size: 14px;
  line-height: 26px;
  padding-top: 10px;
  margin-right: 1px;
}

.footer-developer {
  margin-bottom: 8px;
  margin-right: 137px;
}

.link-academy:hover path {
  fill: var(--basic-light-blue-alt);
  transition: 0.3s;
}

.link-academy:active path {
  fill: var(--basic-light-grey-alt);
  transition: 0.04s;
}

.link-academy {
  width: 115px;
  height: 41px;
  background-repeat: no-repeat;
  margin-left: 8px;
}

.social:active path {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.twitter-icon {
  display: block;
  width: 17px;
  height: 16px;
  fill: var(--basic-white)
}

/**********************************************************FLEX CATALOG*/

.form-select {
  display: flex;
  padding: 0 71px;
}

.property-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.property-list {
  display: block;
  margin: 0;
  padding: 0px;
}

.container-infrastructure h2 {
  padding-top: 11px;
  margin-bottom: 27px;
  margin-left: 0px;
}

.container-housing h2 {
  padding-top: 11px;
  margin-bottom: 27px;
}

.price-selection h2 {
  padding-top: 11px;
  margin-bottom: 13px;
  margin-right: 138px;
}

.sorting-menu {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid var(--basic-mercury);
  padding: 31px 72px 30px 72px;
  box-sizing: border-box;
  width: 1200px;
}

.found {
  width: 165px;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sorting-item {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list li {
  padding-right: 33px;
  line-height: 0px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-list :not(:nth-child(1)) a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-light-blue-alt);
}

.sorting-active {
  cursor: pointer;
  color: var(--basic-light-blue-alt);
}

.sorting-active:hover {
  border-bottom: 1px dotted var(--basic-light-blue-alt);
  transition: 0.3s;
}

.sorting-active:active {
  color: var(--basic-black);
  border-bottom: none;
  transition: 0.1s;
}

.sorting-list :nth-child(2) a:hover {
  text-decoration: none;
  color: var(--basic-light-blue-alt);
  border-bottom: 1px dotted var(--basic-light-blue-alt);
  transition: 0.3s;
}

.sorting-list :nth-child(2) a:active {
  text-decoration: none;
  color: var(--basic-black);
  border-bottom: none;
  transition: 0.1s;
}

.sorting-list :nth-child(3) a:hover {
  text-decoration: none;
  color: var(--basic-light-blue-alt);
  border-bottom: 1px dotted var(--basic-light-blue-alt);
  transition: 0.3s;
}

.sorting-list :nth-child(3) a:active {
  text-decoration: none;
  color: var(--basic-black);
  border-bottom: none;
  transition: 0.1s;
}

.result-block {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  flex-direction: column;
}

.flex-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 36px;
  border-bottom: 1px solid var(--basic-mercury);
  align-items: center;
}

.result-picture {
  width: 190px;
  height: 90px;
  padding-left: 10px;
}

.result-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 750px;
  min-height: 100px;
}

.result-haeder a {
  text-decoration: none;
  color: #000000;
}

.result-haeder a:active {
  color: #000000;
}

.result-haeder {
  margin: 0px;
  margin-bottom: 10px;
}

/**************************************************************************МЕНЮ ПОИСК ГОСТИНИЦЫ*/

.block-map {
  position: relative;
}

.search {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 26.3%;
  padding: 55px;
  width: 569px;
  height: 395px;
  background: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  box-shadow: 0px 0px 15px 7px rgb( 0 1 1 / 15%);
}

.search .check-in {
  padding-top: 5px;
  margin-bottom: 10px;
}

.search .departure {
  padding-top: 5px;
  margin-bottom: 10px;
}

.search input {
  border: medium none;
  background-color: var(--basic-pale-gray);
  height: 35px;
  width: 331px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: inherit;
}

.search input[name="date-in"] {
  padding-left: 15px;
}

.search input[name="date-out"] {
  padding-left: 15px;
}

.search .quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 458px;
  box-sizing: border-box;
}

.quantity button {
  position: relative;
  height: 37px;
  width: 40px;
  border: none;
  background-color: var(--basic-pale-gray);
  color: var(--basic-darkgray);
}

.quantity button[name="minus-adult"] {
  margin-left: 40px;
}

.quantity button[name="plus-adult"] {
  margin-right: 52px;
}

.quantity input {
  width: 47px;
  border: none;
  background-color: var(--basic-pale-gray);
  text-align: center;
}

.quantity button[name="minus-children"] {
  margin-left: 26px;
}

.icon-minus {
  position: absolute;
  top: 8px;
  left: 14px;
  width: 12px;
  height: 3px;
}

.icon-plus {
  position: absolute;
  top: 12px;
  left: 7px;
  width: 12px;
  height: 3px;
}

.search > button {
  width: 100%;
  background-color: var(--basic-light-blue-alt);
  border: medium none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
  line-height: 16px;
  padding: 21px 0px;
  cursor: pointer;
  align-self: flex-end;
}

.search > button:hover {
  background-color: var(--basic-grayish-azure);
  transition: 0.3s;
}

.search > button:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: var(--basic-grayish-azure-alt);
}

input[name="date-out"]:hover {
  background-color: var(--basic-pale-grey-alt);
  transition: 0.3s;
}

input[name="date-out"]:focus {
  background-color: var(--basic-white);
  outline-offset: -2px;
  outline: 2px solid var(--basic-mercury);
  transition: none;
}

input[name="date-in"]:hover {
  background-color: var(--basic-pale-grey-alt);
  transition: 0.3s;
}

input[name="date-in"]:focus {
  background-color: var(--basic-white);
  outline-offset: -2px;
  outline: 2px solid var(--basic-mercury);
  transition: none;
}

input[name="number of adults"]:hover {
  background-color: var(--basic-pale-grey-alt);
  transition: 0.3s;
}

input[name="number of adults"]:focus {
  background-color: var(--basic-white);
  outline-offset: -2px;
  outline: 2px solid var(--basic-mercury);
  transition: none;
}

input[name="number-of-children"]:hover {
  background-color: var(--basic-pale-grey-alt);
  transition: 0.3s;
}

input[name="number-of-children"]:focus {
  background-color: var(--basic-white);
  outline-offset: -2px;
  outline: 2px solid var(--basic-mercury);
  transition: none;
}
.calendar-check,
.calendar-departure {
  position: absolute;
  color: var(--basic-darkgray);
}

.calendar-check svg {
  position: absolute;
  top: 0px;
  left: 340px;
  font-size: 21px;
  line-height: 26px;
}

.calendar-departure svg {
  position: absolute;
  top: 0px;
  left: 336px;
  font-size: 21px;
  line-height: 26px;
}

.icon-calendar:hover path {
  fill: var(--basic-black);
  transition: 0.3s;
}

.icon-calendar:active path {
  fill: var(--basic-light-blue-alt);
  transition: 0.04s;
}

.icon-minus:hover rect {
  fill: var(--basic-black);
  transition: 0.3s;
}

.icon-minus:active rect {
  fill: var(--basic-light-blue-alt);
  transition: 0.04s;
}

.icon-plus:hover path {
  outline: none;
  fill: var(--basic-black);
  transition: 0.3s;
}

.icon-plus:active path {
  outline: none;
  fill: var(--basic-light-blue-alt);
  transition: 0.04s;
}

.block-map :focus {
  outline: none;
}



/*
.link-academy:active path {
  fill: var(--basic-light-grey-two);
}
/*GRID CATALOG*/
/*
outline-offset: -2px;
  outline: 2px solid rgba(255, 0, 0, 0.7);
*/

/*
.form-select {
  display: grid;
  grid-template-rows: 330px auto auto;
  grid-template-columns: 300px 1fr 1fr;
  align-items: center;
  margin: 0px;
  padding-left: 0px;
}

.sorting-list {
  display: grid;
  width: 1200px;
  margin: 0px;
  padding-left: 0px;
  grid-template-columns: 73px 125px 100px 100px 100px 100px;
  grid-template-rows: 28px 28px 28px;
}

.sorting-list li:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.sorting-list li:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  vertical-align: bottom;
}

.sorting-list li:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  vertical-align: bottom;
}

.sorting-list li:nth-child(4) {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  vertical-align: bottom;
}

.sorting-list li:nth-child(5) {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  vertical-align: bottom;
}
/*
.result-item {
  display: grid;
  grid-template-rows: 150px auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: left;
}



.grid-menu-one {
  display: grid;
  width: 1200px;
  height: 150px;
  grid-template-rows: 30px 30px 30px 30px 30px;
  grid-template-columns: 73px 140px 270px 513px 127px 73px;
  gap: 0px 0px;
  align-items: left;
}

.grid-menu-one .result-picture{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}

.result-description {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
}

.rating-item {
  grid-column-start: -2;
  grid-column-end: -3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.result-description {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}


.result-item {
  display: grid;
  grid-template-rows: 150px auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: left;
  outline: 2px solid rgba(6, 210, 246, 0.7);
  outline-offset: 0px;
}




outline: 2px solid rgba(0, 10, 100, 0.7);
  outline-offset: 0px;
*/
