@font-face {
  font-family: "pt-sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "pt-sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-bold.woff2") format("woff2"),
       url("../fonts/ptsans-bold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-gray-shade-of-black: #231F20;
  --basic-light-blue: #81B3D3;
  --basic-light-blue-alt: #81B3D2;
  --basic-dark-grey-direct-energy: #666666;
  --basic-dark-grey: #6A6A6A;
  --basic-dark-gray-orange: #766458;
  --basic-dark-gray-orange-alt: #604E43;
  --basic-gray-orange: #766357;
  --basic-twilight-Grey: #333333;
  --basic-pale-gray: #F2F2F2;
  --basic-white: #FFFFFF;
  --basic-darkgray: #A9A9A9;
  --basic-pale-grey-alt: #EBEBEB;
  --basic-light-grey: #CACACA;
  --basic-mercury: #E5E5E5;
  --basic-gray: #ABABAB;
  --basic-grayish-azure: #669EC0;
  --basic-grayish-azure-alt: #5496BD;
  --basic-delicious: #EEEEEE;
  --basic-greyish: #888888;
  --basic-light-grey-alt: #BDBBBC;
  --basic-twilight-gray-orange: #503E33;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.page-body {
  font-family: "pt-sans", "arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.container {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 10px 2px var(--basic-greyish);
}

.site-navigation a:link {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation a:visited {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-light-blue-alt);
  transition: 0.2s;
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-header-logo {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  background-color: var(--basic-white);
}

.site-navigation li {
  width: 228px;
  list-style: none;
}

.site-navigation li:nth-child(1) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  margin-right: 144px;
}

.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation:hover {
  color: var(--basic-light-blue-alt);
}

.scription-top {
  width: 100%;
  object-fit: contain;
  background-color: var(--basic-white);
}

.scription-text {
  padding: 39px 300px 52px 300px;
}

.page-body h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 43px 0;
}

.page-body h3 {
  font-size: 21px;
  line-height: 21px;
}

.result-header a:hover {
  color: var(--basic-light-blue-alt);
  transition: 0.2s;
}

.result-header a:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.content-text h3 {
  padding-bottom: 26px;
  margin: 0px;
}

.content-text :nth-child(2) {
  padding-bottom: 25px;
  margin: 0px;
}

.content-text :nth-child(3) {
  margin:0;
}

.content-text :last-child {
  margin:0;
}

.container p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.scription-text p {
  font-size: 14px;
  line-height: 26px;
  margin: 0px;
}

.pop-up {
  display: inline-block;
  vertical-align: middle;
  padding: 30px 140px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-gray-orange);
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  background: var(--basic-gray-orange);
  transition: 0.2s;
}

.pop-up:hover {
  background-color: var(--basic-dark-gray-orange-alt);
}

.pop-up:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-twilight-gray-orange);
}

.content-text {
  background: var(--basic-light-blue-alt);
  color: var(--basic-white);
  padding: 47px 0px 52px 0px;
}

.content-img {
  width: 800px;
  height: 256px;
  object-fit: contain;
}

.feature-item {
  padding: 55px 50px 80px 50px;
}

.icon-svg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 77px;
}

.feature-item h3 {
  padding: 27px 0px;
  margin: 0px;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
  margin: 0px;
}

.features-list {
  list-style: none;
}

.content-bridge {
  background: var(--basic-light-blue-alt);
  color: var(--basic-white);
  padding: 51px 0px 50px 0px;
}

.content-bridge h3 {
  padding-bottom: 26px;
  margin: 0px;
}

.content-bridge p {
  margin: 0px;
}

.content-bridge :nth-child(2) {
  padding-bottom: 24px;
}

.features {
  background: var(--basic-white);
}

.content-quality {
  padding-top: 0px;
  background: var(--basic-delicious);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.quality-item {
  list-style: none;
  padding: 48px 70px 54px 70px;
}

.quality-item h3{
  padding-bottom: 26px;
  margin: 0;
}

.quality-item :nth-child(2) {
  padding-bottom: 23px;
}

.content-quality p {
  margin: 0px;
}

.visit {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts-phone {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/****************************************************************************!!РАЗМЕТКА КАТАЛОГА!!*/

/*стили чекбоксов и шкала цен*/

.property-list {
  list-style: none;
}

.site-navigation .active a {
  color: var(--basic-gray-orange);
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.select-menu {
  min-height: 217px;
  background-image: url(../img/catalog/background.jpg);
  background-color: var(--basic-greyish);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  object-fit: contain;
}

.form-select h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.container-infrastructure {
  width: 266px;
  text-align: left;
}

.container-housing {
  width: 300px;
  text-align: left;
}

.price-selection {
  position: relative;
  width: 528px;
  padding-left: 196px;
}

.property-list {
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.prise-menu {
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

/**********************************************************FILTER CHECKBOX*/

.check-input {
  display: none;
}

.property-item label {
  display: block;
  cursor: pointer;
  margin: 0;
  padding-bottom: 25px;
}

.check-box {
  position: absolute;
  width: 25px;
  height: 25px;
  padding-bottom: 25px;
  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
  outline:none;
}

.check > input + span {
  padding-left: 40px;
}

.check-housing > input + span {
  padding-left: 42px;
}

.property-list li {
  margin-bottom: 20px;
}

.check-input:checked + .check-box {
  background-image: url(../img/catalog/checkbox-on.svg);
}

.check-input:active + .check-box {
  background-image: url(../img/catalog/checkbox-off.svg);
}

.check-input:disabled + .check-box {
  background-image: url(../img/catalog/checkdis-off.svg);
}

.check-input:checked:disabled + .check-box {
  background-image: url(../img/catalog/checkdis-on.svg);
}

/******************************************************************************************************************ФИЛЬТР С ДИАПАЗОНОМ*/

.filter-item {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding: 0;
  border: none;
}

.range-controls {
  position: relative;
  display: flex;
  align-items: center;
  margin: 21px 40px 0px 0px;
}

.range-controls .bar {
  width: 316px;
  height: 2px;
  background: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.range-controls .scale {
  position: absolute;
  left: 0px;
  width: 260px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  width: 19px;
  height: 19px;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 0 0 rgba(171, 171, 171, 0.3);
  z-index: 1;
  outline: none;
}

.range-controls .toggle-min {
  left: 0px;
  transition: 0.25s;
}

.toggle-min:hover {
  transform: scale(1.15);
}

.range-controls .toggle-max {
  left: 253px;
  transition: 0.25s;
}

.toggle-max:hover {
  transform: scale(1.15);
}

.cost-control {
  position: relative;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.cost-control input {
  width: 150px;
  padding: 8px 10px 8px 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  border: none;
  color: var(--basic-white);
  background: none;
  outline: none;
}

.cost-control ::placeholder {
  color: var(--basic-white);
}

.cost-control label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.range-filter button {
  position: absolute;
  right: 97px;
  bottom: 3px;
  padding: 6px 33px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: none;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.25s;
  outline: none;
}

.range-filter button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.label-before {
  margin-left: 5px;
}

.cost-control::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 50%;
  height: 22px;
  border: 1px solid var(--basic-white);
}

.arrows {
  position: absolute;
  top: 36px;
  right: 74px;
  cursor: pointer;
}

.arrows-up {
  padding-right: 7px;
  outline: none;
}

.arrows-up :hover {
  fill: var(--basic-black);
  transition: 0.1s;
}

.arrows-up :active {
  fill: var(--basic-light-blue-alt);
  transition: 0.1s;
}

.sorting-sort {
  font-size: 12px;
  line-height: 18px;
}

.sorting-menu li {
  list-style: none;
}

.result-header h3 {
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
}

.description-hotel {
  display: grid;
  grid-template-columns: 110px 110px;
  column-gap: 6px;
  margin-bottom: 16px;
}

.description-hotel span {
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.description-reserve {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description-reserve a:nth-child(1) {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background: var(--basic-light-blue-alt);
  padding: 3px 16px 3px 18px;
}

.description-reserve a:nth-child(1):hover {
  background: var(--basic-grayish-azure);
  transition: 0.3s;
}

.description-reserve a:nth-child(1):active {
  background: var(--basic-grayish-azure-alt);
  color: rgba(255, 255, 255, 0.3);
}

.description-reserve a:nth-child(2) {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background: var(--basic-gray-orange);
  padding: 3px 17px;
  margin-left: 6px;
}

.description-reserve a:nth-child(2):hover {
  background: var(--basic-dark-gray-orange-alt);
  transition: 0.3s;
}

.description-reserve a:nth-child(2):active {
  background: var(--basic-twilight-gray-orange);
  color: rgba(255, 255, 255, 0.3);
}

.rating-number {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  background: var(--basic-pale-gray);
  color: var(--basic-dark-grey-direct-energy);
}

.name-hotel {
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
}

/***************************************************rating STAR*/

.rating-item {
  display: block;
  height: 100px;
  width: 130px;
  margin-left: 16px;
}

.rating-star {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 47px;
}

.img-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 24px;
  height: 24px;
  background-image: url(../img/catalog/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rating-number {
  padding: 5px 11px 5px 14px;
  background-color: var(--basic-pale-gray);
  text-align: center;
  width: 110px;
  margin-left: 11px;
}

/********************************************************************GRID TITLE*/

.content-block {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px;
}

.list-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0px;
  padding-left: 0px;
}

.list-box-quality {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0px;
  padding-left: 0px;
}

/******************************************************************FLEX INDEX*/

.welcome-title {
  position: relative;
}

.welcome-title::before {
  content: "";
  position: absolute;
  background-image: url(../img/index-img/shape.png);
  width: 100%;
  height: 57px;
  bottom: 3px;
  object-fit: contain;
}

.shape-bottom {
  align-self: flex-end;
  width: 1200px;
  height: 57px;
  order: 2;
}

.scription-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.block-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.bottom-text {
  padding: 57px 0px 0px 0px;
}

.bottom-text :nth-child(2) {
  padding-bottom: 4px;
}

.bottom-text :nth-child(3) {
  padding-bottom: 44px;
}

.bottom-text h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  padding: 0px 20px 35px 10px;
  margin: 0;
}

.block-bottom p {
  margin: 0px;
}
/*******************************************************************FOOTER*/

.main-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 122px;
  align-items: center;
}

.index-footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
}

.main-footer a {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  transform: translate(-6px,-2px);
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background: var(--basic-light-blue-alt);
  background-position: center;
}


.color-footer:hover {
  background-color: var(--basic-grayish-azure);
  transition: 0.3s;
}

.color-footer:active {
  background-color: var(--basic-grayish-azure-alt);
  color: var(--basic-black);
  transition: 0.04s;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  padding-left: 124px;
}

.visit {
  margin: 0px;
  padding-bottom: 9px;
}

.footer-developer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-developer span {
  font-size: 14px;
  line-height: 26px;
  padding: 10px 8px 0 0;
}

.footer-developer {
  padding-bottom: 8px;
  padding-right: 137px;
}

.link-academy:hover path {
  fill: var(--basic-light-blue-alt);
  transition: 0.3s;
}

.link-academy:active path {
  fill: var(--basic-light-grey-alt);
  transition: 0.04s;
}

.link-academy {
  width: 115px;
  height: 41px;
  background-repeat: no-repeat;
}

.social:active path {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.twitter-icon {
  display: block;
  width: 17px;
  height: 16px;
  fill: var(--basic-white)
}

/**********************************************************FLEX CATALOG*/

.form-select {
  display: flex;
  padding: 25px 71px 9px 72px;
}

.property-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.property-list {
  display: block;
  margin: 0;
  padding: 0px;
}

.form-select h2 {
  margin: 0;
}

.container-infrastructure h2 {
  margin-bottom: 27px;
}

.container-housing h2 {
  margin-bottom: 27px;
}

.property-list :last-child {
  margin-bottom: 0px;
}

.price-selection h2 {
  padding-bottom: 12px;
  text-align: left;
}

.sorting-menu {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid var(--basic-mercury);
  padding: 30px 72px 30px 72px;
  width: 100%;
}

.found {
  width: 165px;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sorting-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 18px;
  margin-top: 2px;
}

.sorting-list li {
  padding-right: 33px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.sorting-list :not(:nth-child(1)) a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-light-blue-alt);
}

.sorting-active {
  cursor: pointer;
  color: var(--basic-light-blue-alt);
}

.sorting-active:hover {
  border-bottom: 1px dotted var(--basic-light-blue-alt);
  transition: 0.3s;
}

.sorting-active:active {
  color: var(--basic-black);
  border-bottom: none;
  transition: 0.1s;
}

.sorting-list :nth-child(2) a:hover {
  text-decoration: none;
  color: var(--basic-light-blue-alt);
  border-bottom: 1px dotted var(--basic-light-blue-alt);
  transition: 0.3s;
}

.sorting-list :nth-child(2) a:active {
  text-decoration: none;
  color: var(--basic-black);
  border-bottom: none;
  transition: 0.1s;
}

.sorting-list :nth-child(3) a:hover {
  text-decoration: none;
  color: var(--basic-light-blue-alt);
  border-bottom: 1px dotted var(--basic-light-blue-alt);
  transition: 0.3s;
}

.sorting-list :nth-child(3) a:active {
  text-decoration: none;
  color: var(--basic-black);
  border-bottom: none;
  transition: 0.1s;
}

.result-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.flex-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 66px 25px 73px;
  border-bottom: 1px solid var(--basic-mercury);
  align-items: center;
}

.result-picture {
  width: 135px;
  height: 90px;
}

.result-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 750px;
  min-height: 100px;
  margin-left: 29px;
}

.result-header a {
  text-decoration: none;
  color: var(--basic-black);
}

.result-header a:active {
  color: var(--basic-black);
}

.result-header {
  margin: 0px;
  margin-bottom: 10px;
}

/**************************************************************************МЕНЮ ПОИСК ГОСТИНИЦЫ*/

.block-map {
  position: relative;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 26.3%;
  padding: 55px;
  width: 569px;
  height: 395px;
  background: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  box-shadow: 0px 0px 15px 7px rgb( 0 1 1 / 15%);
}

.search .check-in {
  padding: 5px 0 7px 0;
}

.search .departure {
  padding: 5px 0 7px 0;
}

.search input {
  border: medium none;
  background-color: var(--basic-pale-gray);
  height: 38px;
  width: 346px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: inherit;
  border: 2px solid var(--basic-pale-gray);
}

.date-in {
  padding-left: 10px;
}

.date-out {
  padding-left: 10px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 458px;
}

.quantity button {
  position: relative;
  height: 38px;
  width: 40px;
  border: none;
  background-color: var(--basic-pale-gray);
  color: var(--basic-darkgray);
}

.minus-adult {
  margin-left: 40px;
}

.plus-adult {
  margin-right: 52px;
}

.quantity input {
  width: 47px;
  border: none;
  background-color: var(--basic-pale-gray);
  text-align: center;
}

.minus-children {
  margin-left: 26px;
}

.icon-minus {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 12px;
  height: 3px;
}

.icon-plus {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 12px;
  height: 3px;
}

.search > button {
  width: 100%;
  background-color: var(--basic-light-blue-alt);
  border: medium none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
  line-height: 16px;
  padding: 21px 0px;
  cursor: pointer;
  align-self: flex-end;
}

.search > button:hover {
  background-color: var(--basic-grayish-azure);
  transition: 0.3s;
}

.search > button:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: var(--basic-grayish-azure-alt);
}

.search input:hover {
  background-color: var(--basic-pale-grey-alt);
  border-color: var(--basic-pale-grey-alt);
  transition: 0.3s;
}

.search input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-mercury);
  transition: none;
}

.calendar-check,
.calendar-departure {
  position: absolute;
  color: var(--basic-darkgray);
}

.calendar-check svg {
  position: absolute;
  top: 2px;
  left: 340px;
  font-size: 21px;
  line-height: 26px;
}

.calendar-departure svg {
  position: absolute;
  top: 3px;
  left: 336px;
  font-size: 21px;
  line-height: 26px;
}

.icon-calendar:hover path {
  fill: var(--basic-black);
  transition: 0.3s;
}

.icon-calendar:active path {
  fill: var(--basic-light-blue-alt);
  transition: 0.04s;
}

.icon-minus:hover rect {
  fill: var(--basic-black);
  transition: 0.3s;
}

.icon-minus:active rect {
  fill: var(--basic-light-blue-alt);
  transition: 0.04s;
}

.icon-plus:hover path {
  outline: none;
  fill: var(--basic-black);
  transition: 0.3s;
}

.icon-plus:active path {
  outline: none;
  fill: var(--basic-light-blue-alt);
  transition: 0.04s;
}

.block-map :focus {
  outline: none;
}
